:root { 
    --main-bg: #252f38;
    --accent: #e9c433;
    --accent-clear: #e9c5332f;
    --board-bg: #d3dce3;

    --text-main: #1f1f1f;
    --text-secondary: rgb(110, 110, 110);
    --text-light: #d3dce3;

    --font-main: 1.2rem;
    --font-large: 1.7rem;
    --font-larger: 2rem;
    --font-huge: 2.5rem;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: var(--main-bg);
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 10px 30px 10px 30px;
    /* height: calc(100% - 150px); */
    flex-grow: 1;
    display:flex;
    padding-top: 50px;
}

.titleScreen {
    transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.menuFullWidth {
    width: 100%;
}

.menuDiv {
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    /* background:red; */
}

input[type=text] { flex-grow: 1; }

.menuText, .menuButton {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    border: 2px solid var(--accent);
    border-radius: 3px;
}

.menuText {
    color: var(--text-light);
    height: 25px;
    padding: 5px 8px 5px 8px;
    background: none;
    margin: 0 5px 0 5px;
    
}

.menuButton {
    color: var(--accent);
    background-color: var(--accent-clear);
    padding: 5px 8px 5px 8px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.menuButton:hover, .menuButton:focus {
    background-color: var(--accent);
    color: var(--main-bg);
}

.menuText:focus, .menuButton:focus {
    outline: none;
    box-shadow: 0 0 0px 3px var(--accent-clear);
}


#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    border-collapse: collapse;
}

#gameBoard {
    background-color: var(--board-bg);
    transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.board-cell {
    /* width: 30px;
    height: 30px; */
    width: 2.5vw;
    height: 2.5vw;

    border: 1px solid rgba(0, 0, 0, 0.301);
    text-align: center;
    background-color: var(--board-bg);
}

.ship {
    background-color: rgba(173, 216, 230, 0.5); /* translucent light blue */
    border: 2px solid darkblue;
}

.legal-move {
    background-color: rgba(173, 216, 230, 0.5); /* translucent light blue */
    border: 2px dashed green;
}

.rotate-failed {
    background-color: rgba(255, 165, 0, 0.5); /* translucent orange */
    border: 2px solid red;
}

.lobbyScreen {
    display: none;
    flex-grow: 1;
}

#leaveRoomButton, .logo {
    margin: 10px 30px 10px 30px;
    position: absolute;
    top: 0;
}

#leaveRoomButton {
    right: 0;
}

.logo {
    color: var(--accent);
    font-size: var(--font-huge);
    left: 0;
}


.lobbyMain {
    /* 3 columns  */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    flex-grow: 1;
    /* background:orange; */
}

.leftSide {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lobbyCode{
    color: var(--text-light);
    font-size: var(--font-larger);
    /* margin-bottom: 50px; */
    margin-bottom: 60px;
    flex-shrink:0;
    border-bottom: 2px solid var(--main-bg);
}
#lobbyCode {
    color: var(--accent);
}
.playerList {
    color: var(--text-light);
    font-size: var(--font-large);
}
.player {
    margin-bottom: 10px;
}

.centreSide {
    /* background-color: blue; */
}

.rightSide {
    /* background-color: green; */
}