:root { 
    --main-bg: #252f38;
    --accent: #e9c433;
    --accent-clear: #e9c5332f;
    --board-bg: #d3dce3;
    --board-bg-clear: #d3dce32f;

    --accent-red: #e94c33;
    --accent-red-clear: #e94c332f;
    --accent-green: #4acf5c;
    --accent-green-clear: #4acf5c2c;
    --accent-blue: #3496ff;
    --accent-blue-clear: #3496ff52;

    --text-main: #1f1f1f;
    --text-secondary: rgb(110, 110, 110);
    --text-light: #e4edf3;
    --text-light-secondary: #a4b2be;

    --font-main: 1.2rem;
    --font-large: 1.7rem;
    --font-larger: 2rem;
    --font-huge: 2.5rem;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: var(--main-bg);
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 10px 30px 10px 30px;
    /* height: calc(100% - 150px); */
    flex-grow: 1;
    display:flex;
/*     padding-top: 50px; */
    /*! height: 50vh; */
    /*! overflow: hidden; */
}

.titleScreen {
    transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.menuFullWidth {
    width: 100%;
}

.menuDiv {
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    /* background:red; */
}

input[type=text] { flex-grow: 1; }

.menuText, .menuButton {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    border-radius: 3px;
}

.menuText {
    color: var(--text-light);
    height: 25px;
    padding: 5px 8px 5px 8px;
    background: none;
    margin: 0 5px 0 5px;
    border: 2px solid var(--accent);
}

.menuButton {
    padding: 5px 8px 5px 8px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.txtYellow, .btnYellow, .activeBoard {
    color: var(--accent);
}
.btnYellow, .activeBoard  {
    background-color: var(--accent-clear);
    border: 2px solid var(--accent);
}
.btnYellow:hover, .btnYellow:focus {
    background-color: var(--accent);
    color: var(--main-bg);
    box-shadow: 0 0 0px 3px var(--accent-clear);
}
.menuText:focus, .btnYellow:focus {
    outline: none;
    box-shadow: 0 0 0px 3px var(--accent-clear);
}

.txtRed, .btnRed {
    color: var(--accent-red);
}
.btnRed, .attackerBoard {
    background-color: var(--accent-red-clear);
    border: 2px solid var(--accent-red);
}
.btnRed:hover, .btnRed:focus, .btnRedSelected {
    background-color: var(--accent-red);
    color: var(--main-bg);
    border: 2px solid var(--accent-red);
    box-shadow: 0 0 0px 3px var(--accent-red-clear);
}

.txtGreen, .btnGreen {
    color: var(--accent-green);
}
.btnGreen, .playerBoard {
    background-color: var(--accent-green-clear);
    border: 2px solid var(--accent-green);
}
.btnGreen:hover, .btnGreen:focus, .btnGreenSelected {
    background-color: var(--accent-green);
    border: 2px solid var(--accent-green);
    color: var(--main-bg);
    box-shadow: 0 0 0px 3px var(--accent-green-clear);
}

.btnBlue {
    color: var(--accent-blue);
    background-color: var(--accent-blue-clear);
    border: 2px solid var(--accent-blue);
}
.btnBlue:hover, .btnBlue:focus, .btnBlueSelected {
    background-color: var(--accent-blue);
    border: 2px solid var(--accent-blue);
    color: var(--main-bg);
    box-shadow: 0 0 0px 3px var(--accent-blue-clear);
}


#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

#gameBoard {
    margin-bottom: 20px;
    border: 1px solid var(--board-bg);
}

.board-cell {
    /* width: 30px;
    height: 30px; */
    width: 3vw;
    height: 3vw;
}

.board-cell-small {
    width: 1.7vw; /* was 1.5vw */
    height: 1.7vw;
}

.board-cell-player {
    width: 1.7vw; /* was 1.5vw */
    height: 1.7vw;
}

.board-cell-attacker {
    width: 1.7vw; /* was 1.5vw */
    height: 1.7vw;
}

.board-cell-active {
    width: 3vw;
    height: 3vw;
}


/* DARK MODE CHANGES, ORIGINAL COMMENTED OUT BELOW UNTIL .sunk */

.board-cell, .board-cell-small, .board-cell-player, .board-cell-attacker, .board-cell-active {
    /* border: 1px solid rgba(0, 0, 0, 0.301);
    background-color: var(--board-bg); */
    text-align: center;
    border: 1px solid var(--board-bg);
    background-color: var(--main-bg);
}

.ship {
    /* background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid darkblue; */
    background-color: var(--accent-blue-clear); /* translucent light blue */
    border: 2px solid var(--accent-blue);
    cursor: move;
}

.legal-move {
    /* background-color: rgba(173, 216, 230, 0.5); 
    border: 2px dashed green; */
    background-color: var(--accent-green-clear); /* translucent light blue */
    border: 2px dashed var(--accent-green);
}

.rotate-failed {
    /* background-color: rgba(255, 165, 0, 0.5);
    border: 2px solid red; */
    background-color: var(--accent-red-clear); /* translucent orange */
    border: 2px solid var(--accent-red);
}

.hit {
    /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><line x1="10" y1="10" x2="40" y2="40" stroke="red" stroke-width="4"/><line x1="40" y1="10" x2="10" y2="40" stroke="red" stroke-width="4"/></svg>'); */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><line x1="10" y1="10" x2="40" y2="40" stroke="rgb(233, 76, 51)" stroke-width="4"/><line x1="40" y1="10" x2="10" y2="40" stroke="rgb(233, 76, 51)" stroke-width="4"/></svg>');
    background-size: cover;
}

.miss {
    /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><circle cx="25" cy="25" r="5" fill="blue" /></svg>'); */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><circle cx="25" cy="25" r="10" fill="rgb(52, 150, 255)" /></svg>');
    background-size: cover;
}

.sunk {
    /* border: 2px solid red; */
    border: 2px solid var(--accent-red);
    background-color: var(--accent-red-clear)!important;
}

.lobbyScreen {
    display: none;
    flex-grow: 1;
    /*! height: 50vh; */
}

#leaveRoomButton {
    right: 0;
    display: none;
}

.logo {
    color: var(--accent);
    font-size: var(--font-huge);
    text-decoration: none;
}



.lobbyMain {
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    flex-grow: 1; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    flex-grow: 1;
    padding: 0px 0 20px 0;
    height: 90vh;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0 0 7px;
}
.lobbyCode{
    color: var(--text-light);
    font-size: var(--font-larger);
    padding-bottom: 30px;
    margin-bottom: 30px;
    flex-shrink:0;
    border-bottom: 2px solid var(--board-bg);
}
#lobbyCode {
    color: var(--accent);
    cursor: pointer;
}
.playerList {
    color: var(--text-light);
    font-size: var(--font-large);
}
.player {
    margin-bottom: 10px;
}

.centreSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    border-radius: 0;
}

.leftSide, .centreSide {
    border: 2px solid var(--accent);
    box-shadow: 0 0 10px 1px var(--text-main);
    background-color: #2f4150;
    color: var(--text-light);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.gameScreen {
    display: none;
    flex-grow: 1;
}
.gameMain {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 3fr) minmax(300px, 1fr);
    flex-grow: 1;
    padding: 0px 0 20px 0;
    height: 90vh;
}
.leftBoards, .rightBoards, .chat {
    border: 2px solid var(--accent);
    box-shadow: 0 0 10px 1px var(--text-main);
    background-color: #2f4150;
    color: var(--text-light);
/*      box-shadow: 0 0 5px 1px var(--accent), inset 0 0 5px 1px var(--accent); */
/*     border-radius: 10px; */
}
.leftBoards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px 0 0 7px;
}
.rightBoards {
    /* background:blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #d3dce362; */
    margin: 0 20px 0 20px;
    border-radius: 0;
    padding: 2rem;
}
#backToGrid {
    margin-top: 10px;
}

.centeredContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.boardGrid {
    width: 100%;
    flex-wrap: wrap;
}

.defeated-board{
    opacity: 0.5;
}

.board-small {
    float: left;
    margin-top: 6px;
}



.playerBoard, .attackerBoard {
    /* height: 80%; */
    /* align to bottom */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.leftName {
    padding-bottom: 10px;
    padding-top: 4px;
}

.username {
    text-align: center;
}

.board-container {
    margin-left: 30px;
    margin-top: 30px;
}

.bigName {
    font-size: var(--font-large);
    margin-bottom: 20px;
    margin-top: 5px;
}


.activeBoard {
    /* background:yellow; */
    color: var(--text-light)!important;
    padding: 10px;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
}

.winScreen {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.winner-alert {
    font-size: var(--font-huge);
    text-align: center;
    color: var(--accent);
    margin-bottom: 10px;
}
.sub-heading {
    font-size: var(--font-large);
    text-align: center;
    color: var(--text-light-secondary);
    margin-bottom: 40px;
}

.chat {
    /*     background-color: #e9c5332f; */
    border-radius: 0 7px 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
}
#chatInput {
    height: 40px;
    margin: 0;
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
    border-radius: 0 0 10px 0!important;
}
.chatMessages {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: hidden;
    padding: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatMessages p {
    color: var(--text-light);
}

.chatMessage {
    margin: 20px 0 0 0;
    padding: 0;
    word-wrap: break-word;
}

.chatName {
    color: var(--text-light-secondary);
}

.two-alive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.two-alive-header {
    font-size: var(--font-huge);
    color: var(--text-light);
    margin-bottom: 20px;
}

.two-alive-text {
    font-size: var(--font-large);
    color: var(--text-light-secondary);
    margin-bottom: 20px;
}